.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url('https://raw.githubusercontent.com/NickCNStudioCity/CNSCGBS/main/public/background.webp');
  background-position: top;
}

.home-main-page {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-background-image {
  width: 100%;
  object-fit: cover;
}
.home-screen-content {
  top: 140px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-logo {
  width: 550px;
  object-fit: cover;
}
.home-tagline {
  top: 55px;
  left: 0px;
  right: 0px;
  width: 340px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-gamelist {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-game1 {
  width: 150px;
  object-fit: cover;
  padding-top: var(--dl-space-space-threeunits);
}
.home-game11 {
  width: 150px;
  object-fit: cover;
  padding-top: var(--dl-space-space-threeunits);
}
.home-game12 {
  width: 150px;
  object-fit: cover;
  padding-top: var(--dl-space-space-threeunits);
}
.home-game1:hover,
.home-game11:hover,
.home-game12:hover {
  cursor: pointer;
}
.home-link {
  display: contents;
}
.home-image {
  left: 0px;
  right: 0px;
  width: 250px;
  bottom: 300px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-game-w-indow {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 150vh;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-title {
  top: 32px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 900;
}
.home-close {
  top: 12px;
  right: 18%; /* Adjusted to move the close button to the top right corner */
  width: 70px;
  position: absolute;
  object-fit: cover;
}
.home-close:hover {
  opacity: 0.5;
  cursor: pointer;
}
.home-leaves1 {
  top: 200px;
  left: 200px;
  width: 300px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-leaves2 {
  top: 209px;
  left: 725px;
  width: 200px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-example-image {
  top: 120px;
  left: 0px;
  right: 0px;
  width: 360px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}
.home-text {
  top: 425px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 800px;
  margin: auto;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 900;
  background-color: rgba(6, 6, 39, 0.59);
}
.home-start {
  top: 530px;
  left: 500px;
  color: rgb(255, 255, 255);
  right: 500px;
  margin: auto;
  padding: var(--dl-space-space-unit);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Noto Sans";
  font-weight: 900;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(4, 184, 143);
}
.home-start:hover {
  background-color: #008064;
}
.home-game-window-image {
  width: 800px;
  height: auto;
  opacity: 1;
  object-fit: cover;
  transition: 0.3s;
  padding-top: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-game-window-image:active {
  opacity: 1;
}
@media(max-width: 991px) {
  .home-close {
    left: 820px;
  }
  .home-leaves1 {
    top: 120px;
    left: 95px;
  }
  .home-leaves2 {
    top: 204px;
    left: 625px;
  }
  .home-start {
    left: 350px;
    right: 350px;
    margin: auto;
  }
}
@media(max-width: 767px) {
  .home-close {
    left: 670px;
  }
  .home-leaves1 {
    left: 0px;
  }
  .home-leaves2 {
    top: 216px;
    left: 550px;
    right: 100px;
  }
  .home-start {
    left: 200px;
    right: 200px;
    margin: auto;
  }
}
@media(max-width: 479px) {
  .home-logo {
    width: 500px;
  }
  .home-close {
    left: 400px;
    right: 0px;
    margin: auto;
  }
  .home-leaves2 {
    left: 280px;
  }
  .home-text {
    width: 100%;
  }
  .home-start {
    top: 540px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
