.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url('https://raw.githubusercontent.com/NickCNStudioCity/CNSCGBS/main/public/background.png');
  background-size: auto;
  background-position: top;
}

.home-main-page {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}

.home-screen-content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 140px;
  left: 0;
}

.home-logo {
  max-width: 550px; /* Fixed width */
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative; /* Ensure positioning relative to parent */
  left: 50%;
  transform: translateX(-50%);
}

.home-tagline {
  width: 340px; /* Fixed width */
  height: auto;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: cover;
}
.home-gamelist {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center; /* Center items horizontally */
  max-width: 800px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container */
}

.home-gamelist > * {
  flex: 0 0 calc(20% - 10px); /* 20% width for each item with some spacing */
  margin: 5px; /* Adjust spacing between items */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.home-gamelist .home-game {
  width: 100px !important; /* Increase specificity and use !important to override other rules */
  object-fit: cover;
  padding-top: var(--dl-space-space-threeunits);
}

.home-game:hover {
  cursor: pointer;
}
.home-link {
  display: contents;
}
.home-image {
  left: 0px;
  right: 0px;
  width: 250px;
  bottom: 300px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-game-w-indow {
  width: 100%;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-title {
  top: 32px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 900;
}
.home-close {
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  z-index: 9999;
}
.home-close:hover {
  opacity: 0.5;
  cursor: pointer;
}
.popUpBox {
  position: relative;
}

.home-leaves1 {
  top: 200px;
  left: 200px;
  width: 300px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-leaves2 {
  top: 209px;
  left: 725px;
  width: 200px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-example-image {
  top: 100px;
  left: 0px;
  right: 0px;
  width: 360px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}
.home-text {
  top: 400px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 730px;
  margin: auto;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 900;
  background-color: rgba(6, 6, 39, 0.59);
}
.home-start {
  top: 500px;
  left: 500px;
  color: rgb(255, 255, 255);
  right: 500px;
  margin: auto;
  padding: var(--dl-space-space-unit);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Noto Sans";
  font-weight: 900;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(4, 184, 143);
}
.home-start:hover {
  background-color: #008064;
}
.home-game-window-image {
  width: 730px;
  height: auto;
  opacity: 1;
  object-fit: cover;
  transition: 0.3s;
  padding-top: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-game-window-image:active {
  opacity: 1;
}
@media(max-width: 991px) {
  .home-close {
    left: 820px;
  }
  .home-leaves1 {
    top: 120px;
    left: 95px;
  }
  .home-leaves2 {
    top: 204px;
    left: 625px;
  }
  .home-start {
    left: 350px;
    right: 350px;
    margin: auto;
  }
}
@media(max-width: 767px) {
  .home-close {
    left: 670px;
  }
  .home-leaves1 {
    left: 0px;
  }
  .home-leaves2 {
    top: 216px;
    left: 550px;
    right: 100px;
  }
  .home-start {
    left: 200px;
    right: 200px;
    margin: auto;
  }
}
@media(max-width: 479px) {
  .home-logo {
    width: 500px;
  }
  .home-close {
    left: 400px;
    right: 0px;
    margin: auto;
  }
  .home-leaves2 {
    left: 280px;
  }
  .home-text {
    width: 100%;
  }
  .home-start {
    top: 540px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
